$white-color: #fff;
  
$red-color: #cc3333;
$red-soft-color: #c25b5b;
$red-light-color: #c93f3f;
$red-dark-color: #ca0f0f;

$green-color: #30971b;
$green-soft-color: #5f9255;
$green-light-color: #419630;
$green-dark-color: #1b9104;

$orange-color: #d68d1f;
$orange-soft-color: #ccbba1;
$orange-light-color: #cf9743;
$orange-dark-color: #9c620b;

$gray-color: #adaaaa;
$gray-soft-color: #e7e3e3;
$gray-light-color: #d3d3d3;
$gray-dark-color: #686767;

$btn-color: #41b883;
$btn-color-hover: #75b699;
$btn-color-active: #18b46e;
$btn-color-disabled: #aec4ba;
$btn-font-color: #fff;

$message-error-color: $red-color;
$message-success-color: $green-color;
$message-warning-color: $orange-color;